header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  padding: 0 120px 0 120px;
  box-sizing: border-box;
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 68px;
    max-width: 1240px;
    width: 100%;
  }
  .header_logo {
    height: 68px;
  }
  .header_nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 20px;
    li a{
      text-decoration: none;
      color: #FF6060;
      text-align: right;
      font-family: Montserrat, sans-serif;
      white-space: nowrap;
      font-size: clamp(12px, 3vw, 24px);
    }
    a:hover {
        color: #FF6060;
        text-decoration: underline;
    }
    a.active {
        color: #FF6060;
        text-decoration: underline;
    }
  }
}

//1024PX MEDIA QUERY
@media (max-width: 1024px) {
  header {
    padding: 0 70px 0 70px;
  }
}
//768PX MEDIA QUERY
@media (max-width: 768px) {
  header {
    padding: 0 40px 0 40px;
    .header_container {
      display: flex;
      justify-content: space-between;
      .header_logo {
        width: clamp(145px, 3vw, 210px);
        padding-right: 20px;
      }
      .header_nav ul {
        li a{
          text-transform: uppercase;
        }
      }
    }
  }
}